

body{
    background: rgb(24, 22, 22);
    display: grid;
    line-height: 30px;
    place-items: left;
    font-family: 'Times New Roman', Times, serif;
  
  color: white;
  position: relative;

}
  
 
  
    .containercardgame{
        width:100%;
        height:100vh; 
        font-family: sans-serif;
      }
    
      .cardgame{
        font-size: 40px;
        font-weight: 550;
        padding-top: 1%;
        margin-top: -260px;
        margin-left: -500px;
        font-family: sans-serif;
      
    
      }
      .copy{
        fill:none;
        stroke:white;
        font-weight: 500px;
        stroke-width: 1px;
        stroke-dasharray: 8% 30%;
        stroke-dashoffset: 0%;
        animation: textanimation 5s linear infinite;
        font-family: sans-serif;
       }

     
    
     @keyframes textanimation{
      100%{
        stroke-dashoffset: -40%;
        
      }
     }
    
     .copy1{
      stroke: #cc11f0;
      animation-delay: -1s;
      
     }
    
    
     .copy2{
      stroke: #06f895;
      animation-delay: -2s;
     }
    
    
     .copy3{
      stroke:#036bfb ;
      animation-delay: -3s;
     }
    
    
     .copy4{
      stroke: #ff0677;
      animation-delay: -4s;
     }
    
    
     .containernavi{

        width: 200%;
        height: auto;
        display: flex;
        align-items: left;
        justify-content: flex-start;
       position: absolute;
       top: 4%;
       left: 55%; 
     
        }
      
        button{
          border-color:rgb(24, 22, 22);
          border-radius: 40px;
          top:-5px;
          background: rgb(24, 22, 22);
         
          }
      
        
      
        nav button{
          list-style: none;
          position: relative;
          top: -150%;
          display: inline-block;
          padding: 13px 31px;
          margin: 6px;
          font-size: 15px;
          font-weight: 750;
          color: white;
          cursor: pointer;
          position: relative;
          z-index: 2;
          transition: color 0.5s;
          font-family: 'Times New Roman', Times, serif;
      
          }
      
      
          nav button::after{
          content: '';
          background: #9c94f4;
          width: 100%;
          height: 100%;
          border-radius: 30px;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: -1;
          opacity: 0;
          transition: top 0.5s, opacity 0.5s;
          }
      
          nav button:hover{
          color: white;
          }
      
          nav button:hover::after{
          top: 50.25%;
          opacity: 1;
          }

          .paragraph1 {
            margin-top: 5px;
            animation:pop-in 5s linear;
           margin-right: 45px;
           padding-left: 11px;
           color: #ff07ee;
           font-weight: 600;
          }

          @keyframes pop-in{
            0% {
              transform: scale(.9);
              opacity: 0;
            }
          
            20% {
              transform: scale(1);
              opacity: 1;
            }
          
            50% {
              transform: scale(1);
              opacity: 1;
            }
          
            80% {
              transform: scale(1);
              opacity: 1;
            }
          
            100% {
              transform: scale(1);
              opacity: 1;
            }
          }
          
          
          ul li{
            list-style:none;
            margin:90px 21px;
            display:inline-flex;
            position: absolute;
            top: -330px;
            left: -7px;
           }
          
           ul li span{
            font-size: 18px;
            color:#6ffcc6;
            letter-spacing:2px;
            transition:all 0.5s ;
           }
          
           ul li {
            display: inline-flex;
            align-items:center;
            text-decoration:none;
            width:130px;
            height: 50px;
          background:#0e27df;
          padding-left:5px;
          position:relative;
          transition:all 0.5s;
           }
          
          
           ul li ::before{
            content:'';
            position:absolute;
            top:4px;
            left:-7%;
            height:100%;
            width:10px;
            background: yellow;
            transition:0.5s;
            transform:skewY(-45deg)
           }
          
           ul li ::after{
            content:'';
            position:absolute;
            bottom: -10px;
            left:-5%;
            height:20%;
            width:100%;
            background  : #0b1980;
            transition:0.5s;
            transform:skewX(-45deg)
           }
          
           ul li:hover span {
            color:#6ffcc6;
           }
          
           ul li:hover {
            background: #7a04eb;
            background-color: #7a04eb;
            transform: translate(5px, -5px);
            box-shadow:-50px 50px 50px rgba(red, green, blue, alpha)
           }
          
           ul li:hover ::before{
            background-color: #39ff14;
           }
          
           ul li:hover ::after{
            background-color: #42057a;
           }          
          
           
           .paragraph1 {
            margin-top: -490px;
            margin-left: 20px;
            flex-basis: 35px;
            animation:pop-in 5s linear;
            font-size: 21px;
            line-height: 40px;
            padding-right: 500px;
          }
          @keyframes pop-in{
            0% {
              transform: scale(.9);
              opacity: 0;
            }
          
            20% {
              transform: scale(1);
              opacity: 1;
            }
          
            50% {
              transform: scale(1);
              opacity: 1;
            }
          
            80% {
              transform: scale(1);
              opacity: 1;
            }
          
            100% {
              transform: scale(1);
              opacity: 1;
            }
          }
          
          .main{
            width: 350px;
            height: 500px;
            position: relative;
            margin: -780px 0px 30px 870px;
          }

          .main2{
            width: 350px;
            height: 500px;
            position: relative;
            margin: -380px 0px 30px 870px;
          }
          
          .main3{
            width: 350px;
            height: 500px;
            position: relative;
            margin: -40px 0px 30px 870px;
          }
          
          
          .frame{
            width:125%;
            height:65%;
            border:11px solid  #39ff14;
            position:absolute;
            z-index:-1;
            animation: frame 5s linear;
          }
          @keyframes frame{
            0% {
              transform: scale(.9);
              opacity: 0;
            }
          
            20% {
              transform: scale(1);
              opacity: 1;
            }
          
            80% {
              transform: scale(1);
              opacity: 1;
            }
            100% {
              transform: scale(1);
              opacity: 1;
            }
          
          
          }
          .slide{
            position: absolute;
            left: 0px;
            bottom:130px;
            opacity: 1;
            animation: slinder 10s;
            animation-fill-mode: forwards;
          }
          .slide img{
            width:450px;
            z-index:1;
          }
          @keyframes slinder{
            0%{
              transform:translateX(-55px);
              opacity: 0;
            }
          
            30%{
              transform:translateX(55px);
              opacity: 1;
            }
            50%{
              transform:translateX(-55px);
              opacity: 1;
            }
          
            55%{
              transform:translateX(-55px);
              opacity: 1;
            }
          
          
            70%{
              transform:translateX(-55px);
              opacity: 1;
            }
          
            100%{
              transform:translateX(-55px);
              opacity: 1;
            }
          
          }

           .frame{
            width:125%;
            height:65%;
            border:11px solid  #39ff14;
            position:absolute;
            z-index:-1;
            animation: frame 5s linear;
          }
          @keyframes frame{
            0% {
              transform: scale(.9);
              opacity: 0;
            }
          
            20% {
              transform: scale(1);
              opacity: 1;
            }
          
            80% {
              transform: scale(1);
              opacity: 1;
            }
            100% {
              transform: scale(1);
              opacity: 1;
            }
          
          
          }

          .frame1{
            width:125%;
            height:65%;
            border:11px solid  #9c94f4;
            position:absolute;
            z-index:-1;
            animation: frame 5s linear;
          }
          @keyframes frame{
            0% {
              transform: scale(.9);
              opacity: 0;
            }
          
            20% {
              transform: scale(1);
              opacity: 1;
            }
          
            80% {
              transform: scale(1);
              opacity: 1;
            }
            100% {
              transform: scale(1);
              opacity: 1;
            }
          
          
          }
          .slide{
            position: absolute;
            left: 0px;
            bottom:130px;
            opacity: 1;
            animation: slinder 10s;
            animation-fill-mode: forwards;
          }
          .slide img{
            width:450px;
            z-index:1;
          }
          @keyframes slinder{
            0%{
              transform:translateX(-55px);
              opacity: 0;
            }
          
            30%{
              transform:translateX(55px);
              opacity: 1;
            }
            50%{
              transform:translateX(-55px);
              opacity: 1;
            }
          
            55%{
              transform:translateX(-55px);
              opacity: 1;
            }
          
          
            70%{
              transform:translateX(-55px);
              opacity: 1;
            }
          
            100%{
              transform:translateX(-55px);
              opacity: 1;
            }
          
          }
.logo{
    margin-bottom: -5px;
}

.quotetext{
    width: 950px;
    top: 650px;
    right:300px ;
    position: absolute;
    color: #6ffcc6 ;
    background-color: transparent;

    --b: 50px;   /* thickness of the border */
    --c: #7a04eb;   /* color of the border */
    --w: 20px;  /* width of border */
  
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}

.quotetext div{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 22px; 
  background-color: transparent;
    line-height: 33px;
    letter-spacing: 4px;
}

.what{
    font-size: 33px;
    margin-left: 20px;
    color: yellow;
}

.ppf1{
    padding: 0;
    margin: 0;
    font-size: 22px;
  }
  
  .ppf2{
    padding: 0;
    margin: 0;
    margin-top: 33px;
    font-size: 20px;
  }
  
  
  .ppf3{
    padding: 0;
    margin: 0;
    margin-top: 33px;
    font-size: 20px;
  }


  .resize{
    width: 50px;
    height: 50px;
    
  }

  .containterhouseopenning{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }
  
  .containterhouseopenning{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }
  
  h3{
    font-size:4rem;
    color: cyan;
    letter-spacing: 2px;
    font-weight: 600;
    position: relative;
   margin-top:260px ;
   margin-left: 80px;
    z-index: 1;
  }
  
  h3::before, h3::after{
    content: '';
    padding: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%) rotate(0);
    animation: spin 6s alternate infinite ease-in-out;
  }
  
  
  h3::before{
    border-top: 15px solid #001eff;;
    border-left: 15px solid #001eff;;
  }
  
  h3::after{
    border-bottom: 15px solid yellow;
    border-right: 15px solid yellow ;
    z-index: -1;
  
  }
  
  @keyframes spin{
    100%{
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  .p2 {
   
    padding-left: 15px;
    
    padding-bottom: 6px;
    
    flex-basis: 35px;
    animation:pop-in 5s linear;
    font-size: 21px;
    line-height: 40px;
    color: #ff07ee;
           font-weight: 600;
           padding-right:500px ;
  }
  @keyframes pop-in{
    0% {
      transform: scale(.9);
      opacity: 0;
    }
  
    20% {
      transform: scale(1);
      opacity: 1;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  
    80% {
      transform: scale(1);
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .nft{
   padding-top: 125px;
    
  }

  .quotetext2{
    width: 750px;
    top: 1870px;
    right:530px ;
    position: absolute;
    color: #6ffcc6 ;
    background-color: transparent;

    --b: 50px;   /* thickness of the border */
    --c: #7a04eb;   /* color of the border */
    --w: 20px;  /* width of border */
  
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}

.quotetext3{
  width: 700px;
  top: -95%;
  right:-60px ;
  position: relative;
  color: #6ffcc6 ;
  background-color: transparent;

  --b: 50px;   /* thickness of the border */
  --c: #7a04eb;   /* color of the border */
  --w: 20px;  /* width of border */


  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}

.gif{
  position: relative;
bottom: 150%;
left: 70%;

}


.gif1{
  position: relative;
margin-top: -750px;
left: 70%;
height: 10px;
width: 50px;

}

.reunion {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 50px;
  margin-left:20px;
  text-transform: uppercase;
  color: rgb(255, 5, 255);
  margin-top:-9% ;

  text-shadow:
    0.05em 0 0 #cc11f0,
    -0.025em -.05em 0 #19fcfe,
    0.025em .05em 0 white;

 animation: glitch 700ms infinite ;


}

@keyframes glitch {
  0%{text-shadow:
    0.05em 0 0 #cc11f0,
    -0.025em -.025em 0  #06f895,
    -0.025em .05em 0 #036bfb;}

    14%{text-shadow:
      0.05em 0 0 #cc11f0,
      -0.025em -.025em 0 #06f895,
      -0.025em .05em 0  #036bfb;}

  15%{text-shadow:
   -0.05em -0.0250em 0 #cc11f0,
   0.025em 0.025em 0  #06f895,
   -0.05em -0.05em 0 #036bfb ;} 

   49%{text-shadow:
    -0.05em -0.0250em 0 #cc11f0,
    0.025em 0.025em 0  #06f895,
    -0.05em -0.05em 0 #036bfb;} 

   50%{text-shadow:
    0.025em 0.05em 0 #cc11f0,
    0.05em 0 0  #06f895,
    0 -0.05em 0 #036bfb;}

    99%{text-shadow:
      0.025em 0.05em 0 #cc11f0,
      0.05em 0 0   #06f895,
      0 -0.05em 0 #036bfb;}

   100%{text-shadow:
    -0.025em 0 0 #cc11f0,
     -0.025em -0.025em 0 #06f895,
      -0.025em -0.05em 0 #036bfb;}

   }

   .p3 {
    position: relative;
    top: -230%;
    padding-right: 550px;
    padding-left: 25px;
    
    flex-basis: 35px;
    animation:pop-in 5s linear;
    font-size: 21px;
    line-height: 40px;
    color: #6ffcc6 ;
           font-weight: 600;
  }
  @keyframes pop-in{
    0% {
      transform: scale(.9);
      opacity: 0;
    }
  
    20% {
      transform: scale(1);
      opacity: 1;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  
    80% {
      transform: scale(1);
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .venture{
    margin-top: -24%;
  }

  .containeractivitytwo{
    position: relative;
    display: inline-block;
    padding: 15px 10px;
    border: 5px solid rgb(245, 61, 91);
    top: -620%;
    right:-3%;
    text-transform: uppercase;
    font-weight: 650;
    text-decoration: none;
    letter-spacing: 2px;
    color: yellow;
    transition: 0.5s;
    transition-delay: 1.5s;
    z-index: 100;
    background-color: #3500ff;
    height: 20px;
    
  }

  .containeractivitytwo:hover
  {
    transition-delay: 1s;
    color: rgb(250, 250, 84);
    box-shadow: 0 0 20px white;


  }


  .containeractivitythree {
    position: relative;
    z-index:100;
  }
  .containeractivitytwo:nth-child(2){
    filter:rotate(80deg);
  }

  .containeractivitytwo::before{
    content:'';
    position: absolute;
    left:-20px;
    top:50%;
    transform: translateY(-50%);
    width:  20px;
    height: 2px;
    background: rgb(245, 61, 91);
    box-shadow: 5px -8px 0 rgb(245, 61, 91),5px 8px 0 rgb(245, 61, 91);
     transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
     transition-delay: 1s,0.5s,0s,0s;


  }
  .containeractivitytwo:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow:  5px 0 0 rgb(245, 61, 91),5px 0 0 rgb(245, 61, 91);
    transition-delay: 0s,0.5s,1s,1s;
  }

  .containeractivitytwo::after{
      content:'';
      position: absolute;
      right:-20px;
      top:50%;
      transform: translateY(-50%);
      width:  20px;
      height: 2px;
      background: rgb(245, 61, 91);
      box-shadow: -5px -8px 0 rgb(245, 61, 91),-5px 8px 0 rgb(245, 61, 91);
       transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
       transition-delay: 1s,0s,0s,0s;


    }

    .containeractivitytwo:hover::after{
      width: 60%;
      height: 100%;
      right: -2px;
      box-shadow: -5px 0 0 rgb(245, 61, 91),-5px 0 0 rgb(245, 61, 91);
      transition-delay: 0s,0s,1s,1s;
    }

    .emoji{
      position: relative;
      top: -138%;
    }

    html{
      scroll-behavior: smooth;
      height: 0;
    }